*{
    margin : 0px;
    padding : 0px;
    font-family: poppins, sans-serif;
}

.outer{
    height:100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 1, 27);

} 

.outBox{
    height: 400px;
    width: 250px;
    background-color: rgb(8, 4, 43);
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#display{
    background-color: rgb(27, 20, 81);
    height: 60px;
    width:220px;
    margin: 15px 15px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

#numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 15px 15px;
    column-gap: 5px;
    row-gap: 8px;
}

.btn{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(8,4,43);
    color: aliceblue;
    border:2px solid rgb(45, 9, 151);
}

.btn:hover{
    border: none;
    background-color: rgb(45, 9, 151);
    transition-duration: 0.4s;
}

#topPart{
   height: 15px;
   width: 200px;
   text-align: right; 
   margin: 5px 10px;
}

#bottomPart{
    height: 15px;
    width: 200px;
    text-align: right; 
    margin: 5px 10px;
}